[Unit]
Conflicts=timelapse-off.service

[Service]
User=pi
EnvironmentFile=/home/pi/timelapse.conf
ExecStart=/usr/local/bin/timelapse
ExecStopPost=/usr/local/bin/timelapse-upload
